:root {
  --listItemShadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  --listContainerShadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  --plannBoxShadow1: 1px 1px 5px rgba(156, 136, 196, 0.4);
  --plannBoxShadow2: -1px -1px 5px rgba(192, 235, 255, 0.3);
  --plannBoxShadow1Inset: inset 1px 1px 5px rgba(156, 136, 196, 0.4);
  --plannBoxShadow2Inset: inset -1px -1px 5px rgba(192, 235, 255, 0.3);
}
.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #3c254b;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 5px 10px rgba(86, 55, 104, 0.5);
}

#mainContainer {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding: 5%;
}

.addDateButton {
  margin: 0.2em;
}

.myNavButton {
  min-height: 5vh;
  margin: 0em 0.2em;
  /* font-size: 0.75rem !important; */
  display: flex;
  align-items: center;
  justify-self: center;
}

/*browser*/

@media screen and (min-width: 600px) {
  .loginSignup {
    width: 50%;
  }

  .followingListItem {
    min-height: 50%;
  }
  #loginForm {
    width: 20vw;
    height: 20vw;
    min-width: 300px;
    min-height: 300px;
  }
  .pages {
    width: 10vw;
  }
  .bottomRightButton {
    width: 5vw;
    height: 5vw;
  }
  .nearbyListItem {
    max-width: 80%;
    min-width: 80%;
    /* height: 5vh; */
  }
  #upcomingEventsContainer {
    width: 60%;
    height: 50%;
  }
  #profileFollowing {
    width: 30%;
  }
  .removeEventButton {
    width: 1.5em;
    height: 1.5em;
  }
  #nearbyEventList {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5vh);
  }
}

/* mobile */
@media screen and (max-width: 600px) {
  .loginSignup {
    width: 75%;
  }
  #loginForm {
    width: 80vw;
    height: 90vw;
  }
  .myNavButton {
    min-height: 5vh;
    width: 90%;
    margin: 0em 0.2em;
    font-size: 0.75rem !important;
  }
  .bottomRightButton {
    width: 12vw;
    height: 12vw;
  }
  .nearbyListItem {
    max-width: 60vw;
    min-width: 60vw;
  }
  #upcomingEventsContainer {
    width: 90%;
    height: 30%;
  }
  #profileFollowing {
  }
  .removeEventButton {
    width: 1em;
    height: 1em;
  }
  #nearbyEventList {
    grid-template-rows: repeat(5vh);
  }
}

#loginForm {
  border-radius: 10px;
  box-shadow: var(--plannBoxShadow1), var(--plannBoxShadow2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mySubmitButton {
  width: 40%;
}

.errorMessage {
  color: red;
  height: 1em;
  font-size: 0.8em;
  text-align: center;
  margin: 0.5em;
}

#datePickerPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#datePicker {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#currentDatesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
#currentDatesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 80%;
  overflow: scroll;
  padding: 1em;
  border-radius: 10px;
  box-shadow: var(--plannBoxShadow1Inset), var(--plannBoxShadow2Inset);
}

.eventListItem {
  box-shadow: var(--plannBoxShadow1), var(--plannBoxShadow2);

  /* box-shadow: var(--listItemShadow); */
  border-radius: 5px;
  padding: 0.7em;
  width: 80%;
  max-height: 13vh;
  font-size: 0.8em;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.eventName {
  font-weight: bold;
}

input,
textArea {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-width: 0px;
  border-radius: 3px;
  margin: 0.2em !important;
}

label {
  font-size: 0.8em;
}

#userPage {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

#userProfile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profileFollowing {
  box-shadow: var(--plannBoxShadow1Inset), var(--plannBoxShadow2Inset);
  border-radius: 3px;

  height: 30%;
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.followingListItem {
  box-shadow: var(--plannBoxShadow1), var(--plannBoxShadow2);

  min-width: 90%;
  margin: 1em;
  padding: 0.5em;
}

.followingOrgDescription {
  font-size: 0.8em;
}
.followingListButton {
  margin: 0.1em;
}

#welcome {
  /* float: left; */
}
::-webkit-scrollbar {
  display: none;
}
#upcomingEventsContainer {
  box-shadow: var(--plannBoxShadow1Inset), var(--plannBoxShadow2Inset);
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;

  padding: 1em;

  border-radius: 10px;
}

.removeEventButton {
  position: absolute;
  right: 2%;
  top: 6%;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(60, 37, 75, 0.7);
  color: white;

  text-align: center;
  line-height: 1em;
  opacity: 0.7;
}
.removeEventButton:hover {
  opacity: 1;
}
.bottomRightButton {
  position: absolute;

  bottom: 2%;
  right: 2%;
  border: none;
  border-radius: 50%;
  background: #9771b3;
  color: whitesmoke;
  /* box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6); */
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottomRightButton:hover {
}

.bottomRightButton:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.fc-left,
.fc-right {
  float: none !important;
  display: inline-block !important;
}

#eventCalendar {
  width: 100%;
  height: 80%;
}

#calendarModal {
}

.fc-toolbar {
  width: 80%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fc-view {
  font-size: 0.8em;
}

#eventDescription {
  min-height: 15vh;
  width: 150%;
}

#discoverPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nearbyListItem {
  box-shadow: var(--plannBoxShadow1), var(--plannBoxShadow2);
  margin: 1em;
  padding: 1em;

  border-radius: 5px;
  box-sizing: content-box;
  line-height: 0.6em;
}

.nearbyOrg {
  height: 4em;
}

.nearbyEventDate {
  font-size: 0.5em;
}
.nearbyEventButton {
  margin: 0.1em;
}
#nearbyEventList {
  display: grid;

  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
}

#eventTypeSelect {
  border: none;
  box-shadow: var(--plannBoxShadow1), var(--plannBoxShadow2);
  padding: 0.2em;
  border-radius: 5px;
}

#discoverSelectButtons {
  margin-bottom: 1em;
}
#nearbyEventsButton {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#nearbyOrgsButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
}

.nearbyNavLink {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 3px;
  background-color: white;
  transition: color 200ms, background-color 200ms;
}

.nearbyNavLink:hover {
  background-color: black;
  color: white;
}
