.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #3c254b;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 5px 10px rgba(86, 55, 104, 0.5);
}

#mainContainer {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding: 5%;
}

.addDateButton {
  margin: 0.2em;
}

.myNavButton {
  min-height: 5vh;
  margin: 0em 0.2em;
  font-size: 0.75rem !important;
}

@media screen and (min-width: 600px) {
  #loginForm {
    width: 20vw;
    height: 20vw;
  }
  .myNavButton {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  #loginForm {
    width: 80vw;
    height: 90vw;
  }
  .myNavButton {
    min-height: 5vh;
    width: 100%;
    margin: 0em 0.2em;
    font-size: 0.75rem !important;
  }
}
#loginForm {
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(156, 136, 196, 0.4),
    -1px -1px 5px rgba(192, 235, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0.2em !important;
}

.mySubmitButton {
  width: 40%;
}

.errorMessage {
  color: red;
  height: 1em;
  font-size: 0.8em;
}

#datePickerPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#datePicker {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#currentDatesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
#currentDatesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 80%;
  overflow: scroll;
  padding: 1em;
  border-radius: 10px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.eventListItem {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.7em;
  width: 80%;
  max-height: 15vh;
  font-size: 0.8em;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventName {
  font-weight: bold;
}

input {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-width: 0px;
  border-radius: 3px;
}

label {
  font-size: 0.8em;
}

#userHome {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome {
  /* float: left; */
}

#userUpcomingEventsContainer {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  padding: 1em;
  border-radius: 10px;
}
