.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #3c254b;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 5px 10px rgba(86, 55, 104, 0.5);
}

#mainContainer {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding: 5%;
}

.addDateButton {
  margin: 0.2em;
}

.myNavButton {
  min-height: 5vh;
  margin: 0em 0.2em;
  font-size: 0.75rem !important;
  display: flex;
}

@media screen and (min-width: 600px) {
  #loginForm {
    width: 20vw;
    height: 20vw;
  }
  .myNavButton {
    width: 30%;
  }
  .bottomRightButton {
    width: 5vw;
    height: 5vw;
  }
  .nearbyEventListItem {
    max-width: 20vw;
    min-width: 20vw;
  }
}
@media screen and (max-width: 600px) {
  #loginForm {
    width: 80vw;
    height: 90vw;
  }
  .myNavButton {
    min-height: 5vh;
    width: 90%;
    margin: 0em 0.2em;
    font-size: 0.75rem !important;
  }
  .bottomRightButton {
    width: 12vw;
    height: 12vw;
  }
  .nearbyEventListItem {
    max-width: 60vw;
    min-width: 60vw;
  }
}
#loginForm {
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(156, 136, 196, 0.4),
    -1px -1px 5px rgba(192, 235, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mySubmitButton {
  width: 40%;
}

.errorMessage {
  color: red;
  height: 1em;
  font-size: 0.8em;
  text-align: center;
  margin: 0.5em;
}

#datePickerPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#datePicker {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#currentDatesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
#currentDatesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 80%;
  overflow: scroll;
  padding: 1em;
  border-radius: 10px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.eventListItem {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.7em;
  width: 80%;
  max-height: 15vh;
  font-size: 0.8em;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.eventName {
  font-weight: bold;
}

input,
textArea {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-width: 0px;
  border-radius: 3px;
  margin: 0.2em !important;
}

label {
  font-size: 0.8em;
}

#userPage {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

#welcome {
  /* float: left; */
}

#upcomingEventsContainer {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  padding: 1em;

  border-radius: 10px;
}

.removeEventButton {
  position: absolute;
  right: 2%;
  top: 6%;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(60, 37, 75, 0.7);
  color: white;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1em;
}
.removeEventButton:hover {
  opacity: 1;
}
.bottomRightButton {
  position: absolute;

  bottom: 2%;
  right: 2%;
  border: none;
  border-radius: 50%;
  background: #9771b3;
  color: whitesmoke;
  /* box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6); */
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottomRightButton:hover {
}

.bottomRightButton:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.fc-left,
.fc-right {
  float: none !important;
  display: inline-block !important;
}

#eventCalendar {
  width: 100%;
  height: 80%;
}

#calendarModal {
}

.fc-toolbar {
  width: 80%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fc-view {
  font-size: 0.8em;
}

#eventDescription {
  min-height: 15vh;
  width: 150%;
}

#discoverPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nearbyEventListItem {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin: 1em;
  padding: 1em;
  max-height: 5vh;
  border-radius: 5px;
  box-sizing: content-box;
}

#nearbyEventList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  /* border: 1px solid black; */
}
